@media (max-width: 768px) {
  .card-img-top {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .card-img-top {
    max-width: 50%;
  }
}

/* Suggestions container styles */
.suggestions-container {
  position: absolute;
  width: 80%; /* Set the suggestion container width to 100% */
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  top: calc(
    100% + 5px
  ); /* Position the suggestion container below the search bar */
}

.suggestion {
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex; /* Display suggestions as flex for better alignment */
  align-items: center;
}

.suggestion img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.suggestion-details {
  flex: 1; /* Expand suggestion details to fill available space */
}

.suggestion-title {
  font-weight: bold;
}

.suggestion-description {
  color: #666;
  font-size: 14px;
}

.suggestion-category {
  color: #999;
  font-size: 12px;
}

.suggestion {
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
}

.suggestion:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.suggestion img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.suggestion-details {
  flex: 1;
}

.suggestion-title {
  font-weight: bold;
}

.suggestion-description {
  color: #666;
  font-size: 14px;
}

.suggestion-category {
  color: #999;
  font-size: 12px;
}
