.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 80%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}
@media (max-width: 576px) {
  .vh-100 {
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  .vh-100 {
    min-height: 80vh;
  }
}
